.contact-section {
  padding: 6rem 2rem;
  background-color: var(--secondary-color);
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
  font-family: var(--font-mono);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.form-group {
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--accent-color);
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 5px;
  font-family: var(--font-primary);
}

button {
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;

  &:disabled {
    background-color: #4a5568; /* gray-600 */
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: #81e6d9; /* teal-200 */
  }
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 2rem;

  a {
    font-size: 2rem;
    color: var(--text-color);
    transition: color 0.3s ease;

    &:hover {
      color: var(--accent-color);
    }
  }
}