<section class="hero-container">
  <div class="container hero move"> <!-- move -->
    <div class="grid-overlay"></div>

    <div class="left move"> <!-- move -->
      
      <div class="left-inner image-wrapper  move"> <!-- move -->
        <div class="image-container">
          <img src="assets/profile.png" alt="Tanishk Sarode" class="profile-pic md-6" />
        </div>
      </div>

      <div class="intro move"> <!-- move -->
          <h1 class="name">Tanishk Sarode</h1>
          <p class="tagline move"> <!-- move -->
            Builder of Smart Software<br>& Scalable Systems
          </p>
          <a href="mailto:sarode.tn@gmail.com" class="email-btn">Email Me</a>
        </div>
    </div>

    <div class="right move">  <!-- move -->
      <div class="right-inner">
        
        <div class="about">
          <div class="about-me">
            <h1>About Me</h1>
            <hr>
            <p>
              I’m Tanishk – part human, part Ctrl+Z.<br><br>
              By day, I wrangle Python, JavaScript, and AI agents into building things that (usually) don’t crash. By night, I debug my life decisions while trying to reduce runtime and emotional complexity.<br><br>
              I’ve built GPT-powered agents, real-time editors, and a dangerously strong coffee addiction. Currently leveling up for tech placements – think of me as a well-documented function:<br><br>
              Inputs: Curiosity, Creativity, Chai<br>
              Outputs: Efficient software, Scalable AI, and meme-worthy bugs.<br><br>
              Not just building software – building legendary bugs, unforgettable interviews, and surprisingly good solutions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</section>
